@use 'mixins' as *;

.footer__button {
  all: unset;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  @include flex-start;
  gap: 4px;
}

.footer__button::after {
  content: "";
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../images/footer/arrow.svg");
}
