@use 'mixins' as *;

.explore__item {
  box-sizing: border-box;
  max-width: 393px;
  padding: 40px;
  @include flex-center-column;
  gap: 60px;
  text-align: start;
  border-radius: 24px;
  background: linear-gradient(135deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
  box-shadow: 0px 30px 60px 0px rgba(163, 168, 178, 0.15);
}
