@font-face {
  src: url("./ttf/Jost-Regular.ttf") format('truetype');
  font-family: 'Jost';
  font-weight: 400;
}

@font-face {
  src: url("./ttf/Jost-Medium.ttf") format('truetype');
  font-family: 'Jost';
  font-weight: 500;
}

@font-face {
  src: url("./ttf/Jost-SemiBold.ttf") format('truetype');
  font-family: 'Jost';
  font-weight: 600;
}

@font-face {
  src: url("./ttf/Jost-ExtraBold.ttf") format('truetype');
  font-family: 'Jost';
  font-weight: 800;
}

